
progressbar2
gdown
gitpython
# git+https://github.com/cheind/py-thin-plate-spline
hickle
tensorboard
numpy
git+https://github.com/facebookresearch/segment-anything.git
opencv-python
matplotlib
pyyaml
av
openmim
tqdm
psutil
omegaconf
httpx==0.23.3
pytorch-ignite
pytorch-lightning
audioread
click
easydict
ftfy
h5py
huggingface-hub
laion-clap
librosa
ninja
open3d
opencv-python
pandas
pillow
regex
soundfile
termcolor
timm
tokenizers
tqdm
transformers==4.28.0
wandb
wget
clip
torch
torchaudio
torchvision
einops
hf_xet
opencv-python-headless
ffmpeg
# pydantic==2.10.6 # 和机器版本对上
# pydantic_core==2.27.2 # 和机器版本对上
gradio==3.50.2 # 一定要这个
# llvmlite==0.39.0
numba
numpy
librosa
numpy
scikit-video
clip-by-openai
openpyxl
# pip3 install gradio==5.16.0
# pip3 install httpx==0.23.3
# pip3 install flask
# pip3 install grpcio-tools
# pip3 install prettytable
# pip3 install bytedquicksilver
# pip3 install pynvml==12.0.0
# pip3 install bytedlaplace --no-deps
# pip3 install 'volcengine-python-sdk[ark]'




